.container{
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: #FFFFFF;

  h3{
    font-weight: bold;
    font-size: 15px;
  }

  p{
    font-size: 11px;
    padding-top: 1em;
  }
}
