<div class="main-container" [ngClass]="{'error-visible': !messageError, 'main-container': messageError}" [ngStyle]="{ 'background-image': 'url(' + backgroundImageUrl + ')' }">
  <div class="container-input">
    <input placeholder="Pesquise uma cidade" name="cidades" type="text" list="cidades" #cidades [formControl]="queryField">
    <datalist id="cidades">
      <option *ngFor="let city of cityFound" [value]="city.LocalizedName">{{ city.LocalizedName }} - {{city.AdministrativeArea.LocalizedName}}</option>
    </datalist>
    <div class="container-search-button">
      <span class="material-symbols-outlined" (click)="searchCity(cidades.value)" (click)="playSound()">
        search
      </span>
    </div>
  </div> 

  <div class="msgError" [hidden]="messageError" ngClass="{'messageError': messageError}">
    <app-msg-error [textMessageError]="textMessageError" (closeError)="onCloseError()"></app-msg-error>
  </div>

  <div class="container-main-weather-card">
    <app-main-weather-card [temperature]="temperature" [weatherText]="weatherText" [localObservationDateTime]="localObservationDateTime" [realFeelTemperature]="realFeelTemperature" [currentCity]="currentCity" [currentState]="currentState" [iconWeather]="iconWeather" [textColor]="textColor" [backgroundColor]="backgroundColor"></app-main-weather-card>
  </div>

  <div class="container-forecast-card">
    <app-forecast-card [upcomingTimes]="upcomingTimes" [temperatureForecast]="temperatureForecast" [backgroundColorForecast]="backgroundColorForecast" [textColor]="iconsColor"></app-forecast-card>
  </div>

  <div class="container-random-advice-card">
    <app-random-advice-card [author]="author" [content]="content"></app-random-advice-card>
  </div>
</div>
