<div class="main-container">
  <div class="container-input">
    <input placeholder="Pesquise uma cidade" name="cidades" type="text" (keydown)="enterCity($event)" list="cidades" #cidades>
    <datalist id="cidades">
      <option value="Opção 1">{{ cityFound }}</option>
    </datalist>
    <span class="material-symbols-outlined" (click)="searchCity(cidades)">
      search
    </span>
  </div>

  <div class="container-main-weather-card">
    <app-main-weather-card></app-main-weather-card>
  </div>

  <div class="container-forecast-card">
    <app-forecast-card></app-forecast-card>
  </div>

  <div class="container-random-advice-card">
    <app-random-advice-card></app-random-advice-card>
  </div>
</div>
