<div class="container">
  <div class="data-text">
    <p>Hoje</p>
    <span class="material-symbols-outlined">
      arrow_drop_down
    </span>
  </div>
  <div class="weather-number">
    <span class="material-symbols-outlined">
      {{iconWeather}}
    </span>
    <p>{{temperature}}</p>
  </div>
  <div class="weather-text">
    <p>{{weatherText}}</p>
  </div>
  <div class="localizacao">
    <p>{{currentCity}}, {{currentState}}</p>
  </div>
  <div class="data">
    <p>{{localObservationDateTime | date:'longDate'}}</p>
  </div>
  <div class="thermal-sensation-time">
    <p>Sensação: {{realFeelTemperature}}</p>
    <span>|</span>
    <p>Sunset: 18:20</p>
  </div>
</div>
