<div class="container">
  <div class="data-text">
    <p>Hoje</p>
    <span class="material-symbols-outlined">
      arrow_drop_down
    </span>
  </div>
  <div class="weather-number">
    <span class="material-symbols-outlined">
      filter_drama
    </span>
    <p>25°</p>
  </div>
  <div class="weather-text">
    <p>Cloudy</p>
  </div>
  <div class="localizacao">
    <p>California, Los Angeles</p>
  </div>
  <div class="data">
    <p>21 Oct 2019</p>
  </div>
  <div class="thermal-sensation-time">
    <p>Feels Like 28</p>
    <span>|</span>
    <p>Sunset: 18:20</p>
  </div>
</div>
