.container{
  backdrop-filter: blur(5px);
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  p{
    font-size: 11px;
  }

  hr{
    margin: 10px 0 10px 0;
  }

}

.container-items{
  display: flex;
  justify-content: space-between;
}

.forecast-icon-number{
  display: flex;
  align-items: center;
}
